.ActorView {
    display: block;
}

.actorHeader {
  color: #FFF;
  top: 70px;
  height: 70px;
  width: 100%;
  font-size: 1.5em;
  text-shadow: 1px 1px #444;
  text-align: center;
  display: flex;
}

.actorSelector {
  font-size: 1em;
  margin: auto;
  text-align: center;
}


.acts {
  word-wrap: inherit;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px;
  word-wrap: break-word;
}

.prevActs {
  background-color: #eee;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: inherit;
  word-break: break-all;
}

.duties {
  background-color: #eee;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: inherit;
  word-break: break-all;
}


.wallet {
  background-color: #ddd;
  padding-left: 20px;
  padding-right: 20px;
}

.removalButton {
  display: inline-block;
  float: right;
}

.available {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f5f5a0;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #ccc;
}

.potential {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #eee;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #9994;
}

.actButton {
  margin: 15px;
}

