.ActorView {
    display: block;
    width: 45%;
}

.actorHeader {
  color: #FFF;
  position: fixed;
  top: 70px;
  height: 70px;
  width: 49.75%;
  font-size: 1.5em;
  text-shadow: 1px 1px #444;
  text-align: center;
}

.acts {
  padding-top: 140px;
  word-wrap: inherit;
  background-color: #fff;
}

.container {
  display: grid;
  padding: 0px;
  word-wrap: break-word;
}

.prevActs {
  background-color: #eee;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: inherit;
  word-break: break-all;
}

.duties {
  background-color: #eee;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: inherit;
  word-break: break-all;
}


.wallet {
  background-color: #ddd;
  padding-left: 20px;
  padding-right: 20px;
}

.removalButton {
  display: inline-block;
  float: right;
}

.available {
  padding-left: 30px;
  background-color: #f5f5a0;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #ccc;
  display: grid;
  grid-template-columns: 85% 15%;
}

.potential {
  padding-left: 30px;
  background-color: #eee;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #9994;
  display: grid;
  grid-template-columns: 85% 15%;
}

.actButton {
  margin: 15px;
}
