.ActorView {
    display: block;
    width: 45%;
}

.actorHeader {
  color: #FFF;
  height: 70px;
  font-size: 1.5em;
  text-shadow: 1px 1px #444;
  text-align: center;
  background-color: #0a0;
  background-size: border-box;
}

.acts {
  background-color: #eee;
  word-wrap: inherit;
}

.container {
  display: grid;
  padding: 0px;
  word-wrap: break-word;
}

.prevActs {
  word-wrap: inherit;
  word-break: break-all;
}
